@font-face {
  font-family: "SF-Pro=Rounded-Heavy";
  src: url("/public/assets/fonts/SF-Pro-Rounded-Heavy.otf");
}

html, body{
  background: black;
  font: "SF-Pro=Rounded-Heavy";
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}