@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    min-height: 100vh;
    min-width: 100vw;
  }

  .container{
    position: relative;
    background: black;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header{
    position: fixed;
    min-width: 100vw;
    top: 0%;
  }

  .swap{
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  input{
    background: none;  
    border: 4px solid white; 
    margin: 10px;
    border-radius: 10px;
    color: white;
  }

  button{
    width: 100%;
    background: white;  
    border: 1px solid white; 
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
  }

  .row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .border{
    border: 1px solid white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
  }

  .list{
    position: absolute;
    background: white;
    color: black
  }

  .list-item{
    min-width: 150px;
    padding: 10px;
  }

  .button-selection{
    min-width: 150px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
}